NODE_ENV=development
PORT=3001

DATABASE_URL=postgresql://postgres:postgres@db:5432/digital_bank?schema=public

JWT_ACCESS_SECRET=replace_me
JWT_REFRESH_SECRET=replace_me_too
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

KYC_REQUIRED=true
FX_PROVIDER=mock
FX_API_KEY=


